*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-y: hidden;
    height: auto;
}



.first-head{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}


.registration-div{
    width: 100px;
    height: 50px;
    background-color: red;
}

.change-lang{
    width: 100px;
    height: 50px;
}
#change-language{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 10px;
    outline: none;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
  }

  .dropdown-item:hover {
    background-color: #ddd;
  }

  .dropdown-item img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

.lang-reg{
    display: flex;
    gap: 10px;
}

.sec-head{
    background-color: blue;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
}

.sec-head a li{
    color: white;
    font-size: 20px;
}





/* main */


main{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

main article{
    width: 48%;
}

.left-side{
    height: 80vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side .search-message{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
} 

.left-side .search-message a{
    padding: 10px;
    border: 1px solid black;
    width: 10em;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.left-side .search-message .search{
    height: 45px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    width: 60%;
}

.scroll-posts .title-div{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}


.scroll-posts{
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}


main .right-side{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


.posts-div{
    height: 64vh;
    width: 100%;
    background-color: #E4E4E4;
    overflow-y: scroll !important;
    padding: 0 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  /* Title */
  .title-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Author name */
  .author-name {
    margin-bottom: 10px;
  }
  
  .author-name p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #666;
  }
  
  /* Main text */
  .main-text {
    margin-bottom: 10px;
  }
  
  .main-text p {
    line-height: 1.5;
    font-size: 23px;
  }
  
  /* Date details */
  .date-details {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .date {
    margin: 0;
    color: #000000;
  }
  
  .see-more {
    margin: 0;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  



.right-side .tv-div{
    background-color: black;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.right-side .contact-div{
    background-color: grey;
    width: 100%; 
    height: 37%;
    border-radius: 10px;
}

.contact-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-div-title{
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.contact-info a{
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 10px;
}







/* footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
    padding: 10px;
    text-align: center;
}