*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-y: hidden;
    height: auto;
}



.first-head{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}


.registration-div{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
}

.change-lang{
    width: 100px;
    height: 50px;
}
#change-language{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 10px;
    outline: none;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.lang-reg{
    display: flex;
    gap: 10px;
}

.sec-head{
    background-color: blue;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: yellow;
  color: #000000;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: yellow;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}





/* main */



main .section-1{
    display: flex !important;
    justify-content: space-between;
    padding: 0 20px;
}

main article{
    width: 48%;
}

.left-side{
    height: 80vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side .search-message{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
} 

.left-side .search-message a{
    padding: 10px;
    border: 1px solid black;
    width: 10em;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.left-side .search-message .search{
    height: 45px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    width: 60%;
}

.scroll-posts .title-div{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}


.scroll-posts{
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}


main .right-side{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


.posts-div{
    height: 64vh;
    width: 100%;
    background-color: #E4E4E4;
    overflow-y: scroll !important;
    padding: 0 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  /* Title */
  .title-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Author name */
  .author-name {
    margin-bottom: 10px;
  }
  
  .author-name p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #666;
  }
  
  /* Main text */
  .main-text {
    margin-bottom: 10px;
  }
  
  .main-text p {
    line-height: 1.5;
    font-size: 23px;
  }
  
  /* Date details */
  .date-details {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .date {
    margin: 0;
    color: #000000;
  }
  
  .see-more {
    margin: 0;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  



.right-side .tv-div{
    background-color: black;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.right-side .contact-div{
    background-color: grey;
    width: 100%; 
    height: 37%;
    border-radius: 10px;
}

.contact-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-div-title{
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.contact-info a{
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 10px;
}







/* footer */

.section-2{
    width: 100%;
    background-color: blue;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: absolute;
}